<?xml version="1.0"?>
<launch>
    <arg name="rviz_display" default="true"/>
    <group if = "$(arg rviz_display)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bpmp_tracker)/launch/rviz_config/dynamic_sim.rviz" output="log"/>
    </group>

    <node pkg="bpmp_tracker" type="bpmp_simulator" name="bpmp_simulator" output="screen">
        <rosparam command="load" file="$(find bpmp_tracker)/param/analysis/sim35.yaml"/>
        <param name="object_history_file_name" value="$(find bpmp_tracker)/world/analysis/gar_1.csv"/>
        <param name="object_history_file_path_name" value="$(find bpmp_tracker)/world/analysis"/>
        <param name="initial_state_file_name" value="$(find bpmp_tracker)/world/analysis/initial_trajectory.txt"/>
    </node>

    <node pkg="bpmp_tracker" type="elastic_type_converter" name="elastic_type_converter" output="screen">
        <rosparam command="load" file="$(find bpmp_tracker)/param/comparison/elastic_type_converter.yaml"/>
    </node>
    <node pkg="bpmp_tracker" type="elastic_tracker" name="elastic_tracker" output="screen">
        <rosparam command="load" file="$(find bpmp_tracker)/param/comparison/elastic_tracker.yaml"/>
    </node>


</launch>